<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %> 
<body>
    <%- include('./partials/nav.ejs') %> 

    <div class="blogs content">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati sequi dignissimos, voluptates officiis voluptatum ducimus quod adipisci esse repudiandae voluptatibus dolor magnam vero illum voluptatem ratione culpa harum doloribus quae.</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ad aperiam blanditiis dolorum aliquid cupiditate est sint perspiciatis nesciunt? Quidem inventore assumenda enim asperiores accusantium exercitationem possimus eaque aliquam ducimus aliquid?</p>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Similique ad nihil iure perferendis modi quae eius doloremque fuga iste ipsa est dolorem at vel sequi blanditiis, deserunt repellat exercitationem molestiae?</p>
        
    </div>
    <%- include('./partials/footer.ejs') %> 
</body>
</html>